.wrapper {
}
h2{
    background-color: aqua;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group {
    margin-top: 5px;
}
input {
    margin: 5px 0;
}
.dob {
    width: 55px;
}
#b2 {
    margin-left: 80px;
}
#bc1 {
    margin-left: -10px;
}
#bc2 {
    margin-left: 30px;
}
button {
    background-color: aqua;
    padding: 5px;
    margin: 10px 0;
}
